*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    width: 720px;
    margin: 0 auto;
    padding-top: 10px;
    border: 1px solid white;
    border-radius:5px ;
}
ul{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
li{
    list-style: none;
}
img{
    width: 30px;
    height: 30px;
}
a{
    text-decoration: none;
    color: white;
}